.search-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
}
//.search-container {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 9999;
//}

.search-input {
  flex-grow: 1; /* 撑满剩余空间，尽量拉长 */
  max-width: 500px; /* 设置最大宽度，防止过宽 */
  margin-right: 16px;
}

.search-button {
  width: 80px;
}

.selected-card {
  background-color: #e2f0ff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.selected-card:hover {
  background-color: #d9e6ff;
}

.selected-card:active {
  background-color: #c7d8ff;
}
