.chat-window {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin-bottom: 16px;
  //height: 90%;
  //height: 600px;
  overflow: auto;
  scroll-behavior: smooth;
}

.chat-window p {
  margin: 0;
  padding: 0;
}

.chat-window input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 16px;
}
.chat-input {
  position: fixed;
  bottom: 30px; /* 或者您希望的高度 */
  left: 50%; /* 将输入框定位在页面中央 */
  transform: translateX(-50%);
}

.chat-window input:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.chat-window .ant-list-item {
  border: none;
}

.chat-window .ant-divider-horizontal {
  margin: 8px 0;
}

.chat-window {
  color: #1890ff;
  border-color: #1890ff;
}

.chat-window .ant-tag-cyan:hover {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
